.cnt {
    padding-top: 10px;
}

.emptyness{
    height: 56px;
}



.allFav{
    display: flex;
    justify-content: center;
    

  
}

.structure{
    background-color: black;
    box-shadow:  14px 14px 28px #000000;
  color: white;
  width: 400px;
  padding: 10px;

  border: 1px solid #808080;
  border-top: none;
  border-radius: 1em;
  margin-bottom: 20px;

  transition: 1s;
}


.structurer{
    font-size: 12px;
    color: #808080;
    background-color: black;
    border:1px solid #808080;
    border-radius: 0.2em;
    transition: 0.2s;
}


.structurer:hover{
    color: white;
    background-color: rgb(192, 0, 0);
    
}

.structurer:active{
    transition: none;
    font-size: 11px;
    color: white;
    background-color: red;
}

.favList{
    display: flex;
    flex-direction: column;
    overflow: auto
}


.listOrder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



.favTitle{
    color: white;
    margin: 1px;
    font-size: 15px;
    text-decoration:none;
    transition: 0.3s;

}

.favTitle:hover{
    
    text-decoration:underline;
    font-size: 16px;
}

.favPoster{
    display: none;
    margin: 5px;
    height: 200px;
    border: 1px solid #808080;
    border-radius: 0.2em;
    transition: 0.5s;
}

.favPoster:hover{
    height: 210px;
}

.delFav{
    font-size: 12px;
    color: #808080;
    background-color: black;
    border:1px solid #808080;
    border-radius: 1em;
    padding-bottom: 2px;
    margin : 5px;
    margin-left: 30px;
    height: 20px;
    transition: 0.2s;
}


.delFav:hover{
    color: white;
    background-color: rgb(192, 0, 0);
    
}

.delFav:active{
    transition: none;
    font-size: 11px;
    color: white;
    background-color: red;
}